// Color definitions
$color-green: purple;
$color-red: #ff3333;
$color-blue: #a61cad;
$color-dark-grey: #b50775;
$color-light-grey: lighten($color-dark-grey, 15%);
$color-super-light-grey: lighten($color-dark-grey, 50%);
$color-white: pink;

// Background definitions
$intro-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPYyl5aDwAEVwGxySFyLQAAAABJRU5ErkJggg==), url('assets/2016_4.jpg');
$partner-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPYyl5aDwAEVwGxySFyLQAAAABJRU5ErkJggg==), url('assets/2016_2.jpg');
$location-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPYyl5aDwAEVwGxySFyLQAAAABJRU5ErkJggg==), url('assets/2016_3.jpg');