// Color definitions
$color-green: purple;
$color-red: #ff3333;
$color-blue: #a61cad;
$color-dark-grey: #b50775;
$color-light-grey: lighten($color-dark-grey, 15%);
$color-super-light-grey: lighten($color-dark-grey, 50%);
$color-white: pink;

// Background definitions
$intro-bg: url('assets/heroB.jpg');
$partner-bg: url('assets/hero-students2B.jpg');
$location-bg: url('assets/hero-location3B.jpg');