/* =============================
* CLEARFIX
* ============================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* =============================
* STYLES
* ============================== */
html {
  font-family: "ff-enzo-web", 'Helvetica Neue';
  background-color: #444; }

a {
  color: #23998d; }

.constraint {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.big-participate {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #229387;
  color: #FFF;
  padding: 25px;
  border-radius: 5px;
  margin-left: 60px;
  margin-bottom: 20px; }

.big-participate:hover {
  background-color: #23998d; }

p.big {
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px; }

.partner-desc {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: 15px; }

.page {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto; }

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500; }

h2 {
  font-size: 2.5em; }

.wh {
  color: #FFF; }

.nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(35, 153, 141, 0.95);
  padding: 15px;
  min-height: 50px;
  font-weight: 600; }
  .nav img {
    float: left;
    margin-left: 55px; }
  .nav ul {
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 75px; }
    .nav ul li {
      text-transform: uppercase;
      float: left;
      margin-right: 40px;
      list-style-type: none; }
      .nav ul li a {
        text-decoration: none;
        color: #FFF; }
      .nav ul li a:hover {
        color: #EEE; }

#big-video-wrap {
  position: relative !important; }

.hero {
  margin-top: -60px;
  padding-top: 50px;
  padding-bottom: 15px;
  background: url("assets/hero.jpg");
  background-size: cover;
  background-position: center; }
  .hero h1.hero-header {
    text-align: left;
    margin-top: 305px;
    margin-left: 55px;
    z-index: 999;
    color: #FFF;
    font-size: 3em;
    text-transform: uppercase;
    max-width: 600px; }

.video {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF; }
  .video .videowrapper {
    position: relative;
    padding-bottom: 53.55%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
  .video .player .video-wrapper {
    background: #FFF !important; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.location {
  padding-bottom: 45px;
  background: url("assets/hero-location.jpg");
  background-size: cover; }
  .location .headline {
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -25px;
    padding-bottom: 25px; }
  .location h2 {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px; }
  .location .map {
    width: 550px;
    margin-left: auto;
    margin-right: auto; }
  .location .cities {
    top: -30px;
    color: #FFF;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .location .cities .date, .location .cities .city, .location .cities .place {
      line-height: 0.7em; }
    .location .cities .kortrijk {
      color: #33ef90; }
    .location .cities .antwerp {
      color: #3dd7e9; }
    .location .cities .ghent {
      color: #ecea4f; }
    .location .cities .date {
      text-transform: uppercase;
      font-size: 1.1em;
      padding-bottom: 8px; }
    .location .cities .city {
      font-size: 1.7em;
      font-weight: 600; }
    .location .cities .place {
      font-size: 0.8em;
      text-transform: uppercase; }

p.hero-paragraph {
  font-weight: 300;
  color: #FFF;
  margin-left: 60px;
  margin-right: auto;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.8em;
  margin-bottom: 45px; }

.description {
  padding-top: 25px;
  margin-bottom: 40px; }

.numbers {
  display: block;
  color: #FFF;
  text-align: center;
  background-color: #333; }
  .numbers .number-container {
    background-color: #333;
    height: 135px; }
    .numbers .number-container .number-item {
      width: 24.5%;
      float: left;
      border-right: 1px solid #555; }
    .numbers .number-container .number-item:last-of-type {
      border: none; }
  .numbers .number {
    font-size: 3em;
    line-height: 0.2em;
    clear: both; }
  .numbers .word {
    font-size: 1.2em;
    position: relative;
    line-height: 0.5em;
    top: -15px;
    clear: both; }

.students {
  padding-bottom: 25px; }
  .students h2 {
    margin-top: 40px;
    margin-bottom: 10px; }
  .students .students-gallery .grid-25 p {
    text-align: center; }
  .students .students-gallery .grid-25 img.round {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 170px;
    height: 170px;
    border-radius: 340px; }

.partners {
  color: #FFF;
  background: url("assets/hero-sponsors.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 35px; }
  .partners h2 {
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px; }
  .partners .sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-height: 100px;
    margin-bottom: 25px; }

.contact-desc {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 0;
  padding-top: 0; }

.contact {
  padding-bottom: 35px; }
  .contact .contact-buttons {
    max-width: 90%;
    margin-bottom: 15px; }
  .contact h2 {
    padding-top: 20px; }
  .contact .grid-25 {
    text-align: left; }
    .contact .grid-25 a {
      width: 100%;
      font-size: 1.2em;
      font-weight: 500;
      background-color: #23998d;
      padding: 15px;
      color: #FFF;
      border-radius: 10px;
      position: relative !important;
      top: 18px !important;
      text-decoration: none; }

.footer {
  background-color: #333;
  padding-bottom: 1px; }
  .footer p {
    font-size: 0.9em;
    padding-top: 5px;
    color: #FFF; }
  .footer a {
    color: #BBB; }

.contact-buttons .grid-25 {
  height: 100%; }
  .contact-buttons .grid-25 .contact-button {
    width: 75%; }

/* =============================
* MEDIA QUERIES
* ============================== */
/* Smartphones */
@media screen and (max-width: 480px) {
  .grid-25 {
    position: relative;
    top: 0px;
    margin-bottom: 35px; }

  .nav {
    position: relative !important;
    width: auto !important; }

  .location {
    margin-top: 0; }

  .oSoc-logo {
    display: inline-block;
    width: 100% !important; }
    .oSoc-logo a {
      display: block;
      width: 63px;
      margin-left: auto !important;
      margin-right: auto !important; }
    .oSoc-logo img {
      display: block;
      text-align: center;
      margin-left: auto !important;
      margin-right: auto !important;
      padding-bottom: 15px !important; }

  h1.hero-header {
    margin-top: 65px !important;
    font-size: 2em !important;
    max-width: 400px !important; }

  .hero-header, .hero-paragraph, .big-participate {
    margin-left: 15px !important; }

  .location {
    min-height: 700px; }
    .location .grid-33 {
      padding-bottom: 15px; }
    .location .date, .location .city, .location .place {
      margin: 15px !important;
      padding: 0 !important; }

  .map {
    width: 95% !important; }
    .map img {
      width: inherit; } }
.osoc-bold {
  font-weight: 700;
  text-transform: none; }

.al-r {
  text-align: right; }

/* Navigation fixes for width < 960 px */
@media screen and (max-width: 960px) {
  .grid-25 {
    position: relative;
    top: 0px;
    margin-bottom: 35px; }

  .nav {
    background-color: #23998d;
    height: auto; }
    .nav img {
      margin: 0;
      margin-top: 3px;
      display: block;
      text-align: center;
      clear: both; }
    .nav ul {
      margin-left: 5px;
      top: -7px;
      float: none;
      margin-top: -3px;
      line-height: 3.0em; }
      .nav ul li {
        float: none;
        font-size: 0.9em;
        display: inline;
        margin: 0;
        margin-left: 5px; }
        .nav ul li a {
          padding: 10px 10px;
          background-color: rgba(255, 255, 255, 0.1); } }
/* Large tablet up until 960px (desktop res) */
/* Desktop size (960px and up) */
html {
  padding: 0 !important; }
