// Variables

$osoc-green: #229387;
$osoc-hue: #FFF;

// new colors

$color-green: #7ab800;
$color-red: #ff3333;
$color-blue: #00a5e0;
$color-dark-grey: #2D2D2D;
$color-light-grey: lighten($color-dark-grey, 15%);
$color-super-light-grey: lighten($color-dark-grey, 50%);

$color-white: #FFF;

/* =============================
* CLEARFIX
* ============================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* =============================
* STYLES
* ============================== */

html{
  font-family: 'Lato', sans-serif;
  background-color: $color-dark-grey;
}

body{
  overflow-x:hidden;
}

a{
  color: $color-blue;
}

.constraint{

  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;

  .oSoc-logo img{
      width: 60px;
      height: 60px;
  }
}

.big-participate{
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: $color-dark-grey;
  color: $color-white;
  padding: 25px;
  border-radius: 5px;
  margin-left: 60px;
  margin-bottom: 20px;
  float: left;

  &:hover {
    background-color: $color-dark-grey;
    color: $color-green;
  }
}

.big-notice{
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color:$color-dark-grey;
  color: $color-blue;

  padding: 25px;
  border-radius: 5px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 150px;

  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }
}



.part-nomargin {
  margin-left: 0;
}


p.big{
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.partner-desc{
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: 15px;

  a {
    color: $color-white;
  }
}

.page{
  background-color: $color-white;

  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3{
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

h2{
  font-size: 2.5em;
}

.wh{
  color: $color-white;
}

.nav{
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $color-white;
  padding: 15px;
  min-height: 50px;
  font-weight: 600;

  img{
    float: left;
    margin-left: 55px;
  }

  ul{
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 75px;
    li{
      text-transform: uppercase;
      float: left;
      margin-right: 40px;
      list-style-type: none;
      a{
        text-decoration: none;
        color: $color-dark-grey;
      }
      a:hover{
        color: $color-green;
      }

      .active {
        color: $color-green;
        transition: color 0.2s ease-in-out;
      }
    }
  }

  .nav-toggle {
    display: none;
  }
}

#big-video-wrap{
  position: relative !important;
}

.hero{
  margin-top: -60px;
  padding-top: 50px;
  padding-bottom: 15px;
  background: url('assets/heroB.jpg');
  background-size: cover;
  background-position: center;
  h1.hero-header{
    text-align: left;
    // If there is no big notice above the hero.h1, then margin-top = 305px;
    margin-top: 305px;
    margin-left: 55px;
    z-index: 999;
    color: $color-white;
    font-size: 3em;
      text-transform: uppercase;
    max-width: 600px;

    @media screen and (max-width: 768px) {
      margin-top: 60px;
    }
  }
}

.video{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $color-white;

  .videowrapper{
    position: relative;
    padding-bottom: 53.55%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .player .video-wrapper{
    background: $color-white !important;
  }

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.location{
  padding-bottom: 45px;
  background: url('assets/hero-location3B.jpg');
  background-size: cover;

  min-height: 600px;
  .headline{
    font-size: 1.2em;
    color: $color-white;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 25px;
  }
  h2{
    margin: 0;
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .map{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .cities{
    top: -30px;
    color: $color-white;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*padding-bottom: 20px;*/
    .date, .city, .place{
      line-height: 0.7em;
    }

    .date{
      text-transform: uppercase;
      font-size: 1.1em;
      padding-bottom: 8px;
    }
    .city{
      font-size: 1.7em;
      font-weight: 600;
      margin-bottom: 0;

      a {
        color: $color-white;
        text-decoration: underline;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .place{
      font-size: 1em;
      font-weight: 400;
    }
  }
}

p.hero-paragraph{
  font-weight: 300;
  color: $color-white;
  margin-left: 60px;
  margin-right: 40px;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.8em;
  margin-bottom: 45px;
}

.numbers{
  display: block;
  color: $color-white;
  text-align: center;
  background-color: $color-dark-grey;

  .tagline{
	font-size: 1.4em;
	padding-top: 10px;
	padding-bottom: 25px;
  }
  .grid-25{
  	border-right: 1px solid #444;
    margin-bottom: 25px;

    &:last-of-type{
      border-right: none;
    }

  	img{
  	  width: 50%;
  	  max-width: 130px;
  	}
  }
}

.students{
  padding-bottom: 25px;
  h2{
    margin-top: 40px;
    margin-bottom: 30px;
  }

}

.studentsparticipate{
  color: $color-dark-grey;
  background-position: center;
  padding-bottom: 35px;

  h2{
    color: $color-dark-grey;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .skill-container{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;

    .skill-item{
      border-right: 1px solid $color-white;
      padding: 15px;

      .skill{
        top: -30px;
        color: $color-green;
        max-width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .skill-desc{
        top: -30px;
        color: $color-dark-grey;
        max-width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      img{
        border-radius: 300px;
        width: 120px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .skill-item:last-of-type{
      border-right: none;
    }
  }

  .student-desc {
    margin: 0 1em;
    padding: 0;
    line-height: 1.5;
    color: $color-light-grey;
  }

  .students-gallery{
    .grid-25{
      margin-bottom: 35px;
      p{
        text-align: center;
        margin-top: 0.4em;
      }
      .student-name{
        font-size: 1.1em;
        margin-bottom: 0px;
      }
      .student-twitter{
        a{
          text-decoration: none;
          color: $color-blue;
        }
      }
      .student-linkedin{
        a{
          background-color: $color-blue;
          padding: 5px;
          color: $color-white;
          font-size: 0.9em;
          text-decoration: none;

        }
      }
      img{
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 120px;
        height: 120px;
        border-radius: 300px;
      }
    }
  }
}

.faq {
  #faqs{
    h2{
      padding-top: 0;
    }

    h3{
      cursor: pointer;
      cursor: hand;
      margin-top: 0;
      padding: 0 1em;

      &:first-of-type {
        margin-top: 1em;
      }

      .toggle-icon {
        margin-left: .5em;
        transition: all 0.4s;
        color: $color-super-light-grey;
      }
    }
    .faq-answer{
      padding: 0 1em 2.5em 1em;
      display: block;
      line-height: 2;
      color: $color-light-grey;
    }
  }
}

.participate{
  color: $color-white;
  background: url('assets/hero-students2B.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h2{
    color: $color-white;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .sponsor{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-height: 100px;
    margin-bottom: 25px;
    opacity: 0.85 ;
    max-width: 200px;

    &:hover {
      opacity: 1;
    }
  }
}

.contact-desc{
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 0;
  padding-top: 0;
}

.footer{
  background-color: $color-dark-grey;
  padding-bottom: 1px;
  p{
    font-size: 0.9em;
    padding-top: 5px;
    color: $color-white;
  }
  a{
    color: #BBB;
  }
}

/* =============================
* MEDIA QUERIES
* ============================== */

/* Smartphones */
@media screen and (max-width: 480px){

  .grid-25{
    position: relative;
    top: 0px;
    margin-bottom: 35px;
  }

  h1.hero-header{
    margin-top: 65px !important;
    font-size: 2em !important;
    max-width: 400px !important;
  }

  .location{
    margin-top: 0;

    .grid-33{
      padding-bottom: 15px;
    }
    .date, .city, .place{
      padding: 0 !important;
    }
    min-height: 700px;
  }
  .map{
    width: 95% !important;
    img{
      width: inherit;
    }
  }
}

.osoc-bold{
  font-weight: 700;
  text-transform: none;
}

.al-r{
  text-align: right;
}

a{
  p{
	color: $color-white;
	border-color: $color-white;
  }
}

/* Navigation fixes for width < 960 px */
@media screen and (max-width: 1000px){

  .grid-25{
    position: relative;
    top: 0px;
    margin-bottom: 35px;
  }
  .map{
    max-width: 80% !important;
    img{
      width: 100% !important;
    }
  }

  .nav{
    height: auto;
    img{
      margin: 0;
      margin-top: 3px;
      display: block;
      text-align: center;
      clear: both;
    }
    ul{
      margin-left: 5px;
      top: -7px;
      float: none;
      margin-top: -3px;
      line-height: 3.0em;
      li{
        float: none;
        font-size: 0.9em;
        display: inline;
        margin: 0;
        margin-left: 5px;
        a{
          padding: 10px 10px;
        }
      }
    }
  }

  .numbers {
    .grid-25 {
      border-right: 1px solid #444;
      img {
        width: 50%;
        max-width: 130px;
      }
      margin-bottom: 25px;
    }

    .grid-25:nth-of-type(2n) {
      border-right: none;
    }
  }
}


@media screen and (max-width: 769px){

  .footer{
    p{
      text-align: left;
    }
  }

  .nav {
    position: relative !important;
    width: auto !important;

    .oSoc-logo{
      display: inline-block;
      width: 100% !important;
      a{
        display: block;
        width: 63px;
        margin-left: 0 !important;
        margin-right: auto !important;
      }
      img{
        display: block;
        text-align: center;
        margin-left: 0 !important;
        margin-right: auto !important;
        padding-bottom: 0px !important;
      }
    }

    .nav-toggle {
      margin-top: 8px;
      display: block;

      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }

    ul {
      display: none;
    }
  }
}

html{
  padding: 0 !important;
}

