/* =============================
* CLEARFIX
* ============================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


/* =============================
* STYLES
* ============================== */

html {
    font-family: 'Lato', sans-serif;
    background-color: $color-dark-grey;
    color: $color-dark-grey;
}

.text-center {
    text-align: center;
}

body {
    overflow-x: hidden;
}

a {
    color: $color-blue;
}

.constraint {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page {
    background-color: $color-white;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-size: 2.5em;
}

.wh {
    color: $color-white;
}

.tagline {
    font-size: 1.3em;
    line-height: 1.6em;
}

/* =============================
* NAVIGATION
* ============================== */

.nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $color-white;
    padding: 15px;
    min-height: 50px;
    font-weight: 600;
    border-bottom: 1px solid $color-super-light-grey;

    img {
        float: left;
        width: 60px;
        height: 60px;
    }

    ul {
        text-align: center;
        float: left;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        margin-left: 75px;
        list-style-type: none;
        
        li {
            text-transform: uppercase;
            float: left;
            margin-right: 30px;
            
            a {
                text-decoration: none;
                color: $color-dark-grey;
                transition: all 0.1s ease-in-out;
                
                &:hover {
                    color: $color-green;
                }
            }
            
            .active {
                color: $color-green;
                transition: color 0.2s ease-in-out;
            }
            
            .osoc-bold{
                font-weight: 700;
                text-transform: none;
            }
        }
    }

    .nav-toggle {
        display: none;
    }
    
    @media screen and (max-width: 768px) {
        position: relative !important;
        width: auto !important;

        .oSoc-logo {
            display: inline-block;
            width: 100% !important;

            img {
                display: block;
                text-align: center;
                margin-left: 0 !important;
                margin-right: auto !important;
                padding-bottom: 0px !important;
            }
        }

        .nav-toggle {
            margin-top: 8px;
            display: block;

            &:hover {
                cursor: pointer;
                cursor: hand;
            }
        }

        ul {
            display: none;
            float: none;
            width: 100%;
            margin: 0;
            
            li {
                float: none;
                display: block;
                background-color: $color-white;
                padding: 10px;
                margin: 0;
            }
        }
    }
}

/* =============================
* BUTTONS
* ============================== */

.btn-primary, .big-participate {
    width: auto;
    font-size: 1.3em;
    font-weight: bold;
    background-color: $color-green;
    padding: 10px 15px;
    color: $color-white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.big-participate {
    display: inline-block;
    background-color: $color-red;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 20px;

    &:hover {
        background-color: darken($color-red, 5%);
    }
}


/* =============================
* HERO (INTRO) SECTION
* ============================== */
#hero {
    margin-top: -60px;
    padding-top: 50px;
    padding-bottom: 15px;
    background: $intro-bg;
    background-size: cover;
    background-position: center;
    
    h1 {
        text-align: left;
        // If there is no big notice above the hero.h1, then margin-top = 305px;
        margin-top: 305px;

        z-index: 999;
        color: $color-white;
        font-size: 3em;
        text-transform: uppercase;
        max-width: 600px;

        @media screen and (max-width: 768px) {
            margin-top: 60px;
        }
    }
    
    p {
        color: $color-white;
        margin-right: 50px;
        text-align: left;
        margin-bottom: 45px;
        
        @media screen and (max-width: 768px) {
            margin-left: 0;
        }
    }
    
    @media screen and (max-width: 480px){
        h1 {
            margin-top: 65px !important;
            font-size: 2em !important;
            max-width: 400px !important;
        }
    }
}

/* =============================
* PARTNERS SECTION
* ============================== */

#partners{
    color: $color-white;
    background: $partner-bg;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
        color: $color-white;
        margin-top: 0px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
  
    .partners-gallery {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
               
        .sponsor{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 15px;
            max-height: 100px;
            margin-bottom: 25px;
            opacity: 0.85;
            max-width: 200px;
            
            &:hover {
                opacity: 1;
            }
        }
    }
    
    .partner-desc {
        a {
            color: $color-white;
        }
    }
}

/* =============================
* VIDEO SECTION
* ============================== */

#video {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color-white;

    .videowrapper {
        position: relative;
        padding-bottom: 53.55%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .player .video-wrapper {
        background: $color-white !important;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* =============================
* LOCATION SECTION
* ============================== */

#location {
    color: $color-white;
    padding-bottom: 45px;
    background: $location-bg;
    background-size: cover;
    min-height: 600px;

    h2 {
        margin: 0;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    
    .tagline {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 0;
    }
    
    .map {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .cities {
        top: -30px;
        max-width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        .date, .city, .place {
            line-height: 0.7em;
        }

        .date {
            text-transform: uppercase;
            font-size: 1.1em;
            padding-bottom: 0;
        }
        
        .city {
            font-size: 1.7em;
            font-weight: 600;
            margin-bottom: 0;

            a {
                color: $color-white;
                text-decoration: underline;

                &:hover {
                text-decoration: underline;
                }
            }
        }
        
        .place {
            font-size: 1em;
            font-weight: 400;
        }
    }
}

/* =============================
* PREVIOUS EDITIONS SECTION
* ============================== */

#prev-edition {
    display: block;
    color: $color-white;
    text-align: center;
    background-color: $color-dark-grey;

    .tagline {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 25px;
    }
    
    .prev-logos {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        
        a {
            margin: 25px 20px;
            
            img {
                width: 130px;
            }  
            
            &:last-of-type {
                margin-bottom: 35px;
            }    
        }
    }
}

/* =============================
* STUDENTS SECTION
* ============================== */

.students{
    padding-bottom: 25px;
    
    h2{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

#studentsparticipate {
    color: $color-dark-grey;
    background-position: center;
    padding-bottom: 35px;

    h2 {
        color: $color-dark-grey;
        padding-top: 40px;
        padding-bottom: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .skill-gallery {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
        
        li {
            width: 33%;
            
            @media screen and (max-width: 768px) {
                width: 50%;
            }
            
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            
            .skill, .skill-desc {
                color: $color-green;
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .skill {
                margin-top: 10px;
            }

            .skill-desc {
                margin-bottom: 0;
                color: $color-dark-grey;
            }

            img {
                border-radius: 300px;
                width: 120px;
                height: 120px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
        }     
    }
}

.students-gallery {
    display: flex;
    display:-webkit-flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    justify-content:center;
    list-style-type: none;
    padding-left: 0;
    
    li {
        width: 200px;
        padding: 15px;
        text-align: center;
        
        img {
            -webkit-transition:-webkit-filter .33s;
            transition:filter .33s,-webkit-filter .33s;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            background: #ddd;
            -webkit-filter: contrast(2) grayscale(1) opacity(.7) brightness(0.9);
            filter: contrast(2) grayscale(1) opacity(.7) brightness(0.9);
            
            &:hover {
                -webkit-transition:-webkit-filter .3s;
                transition:filter .3s,-webkit-filter .3s;
                -webkit-filter: none;
                filter: none;
            }
        }
        
        .student-name {
            font-size: 1.3em;
            max-height: 20px;
            padding-bottom: 15px;
            margin-bottom: 0px;
        }
        
        .student-twitter, .student-linkedin {
            display: inline-block;
            a {
                vertical-align: baseline;
                padding: 5px 10px;
                background-color: $color-green;
                color: $color-white;
                font-size: 0.9em;
                text-decoration: none;
                
                &:hover {
                    background-color: darken($color-green, 3%);
                }
            }
        }
    }
}


/* =============================
* FAQ SECTION
* ============================== */

#faq {
    padding-bottom: 1em;
    h2 {
        padding-top: 0;
    }

    h3 {
        cursor: pointer;
        cursor: hand;
        margin-top: 0;
        padding: 0 0.8em;
        line-height: 1.5em;

        &:first-of-type {
            margin-top: 1em;
        }

        .toggle-icon {
            margin-left: .5em;
            transition: all 0.4s;
            color: $color-light-grey;
        }
    }
    .faq-answer {
        padding: 0 1em 1.5em 1em;
        display: block;
        line-height: 2;
        color: $color-light-grey;
    }
}

/* =============================
* FOOTER SECTION
* ============================== */

#mc_embed_signup{
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $color-white;
    width: 100%;
    
    .form-control{
        border-radius: 0;
        background-color: lighten($color-green, 40%);
        color: $color-dark-grey;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 1em 1.5em 1em 1.5em;
        width: 50%;
        display: inline-block;
        box-sizing:border-box;
        -moz-box-sizing:border-box;

        &:focus{
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
        }
    }

    .form-group {
        margin-bottom: 0em;
    } 
    
    .btn {
        padding: 1em 1.5em;
        background-color: lighten($color-green, 2%);
        border: none;
        border-radius: 0;
        color: $color-dark-grey;
        font-weight: bold;
        letter-spacing: 2px;
        width: 49%;

        &:hover, &:active, &:focus {
            background-color: $color-green;
            color: $color-dark-grey;
            border: none;
            outline: none;
        }
    }
    
    .response {
        margin-top: 15px;
        font-weight: bold;
        letter-spacing: 1px;
    }
} 

.footer, .mailinglist {
    background-color: $color-dark-grey;
    
    p {
        font-size: 0.9em;
        padding-top: 5px;
        padding-bottom: 5px;
        color: $color-white;
    }
    
    a {
        color: lighten($color-super-light-grey, 20%);
    }
}

/* =============================
* MEDIA QUERIES
* ============================== */

.projects {
    background: $color-white !important;
    .project {
        img {
            padding-left: 15px;
            padding-top: 25px;
            max-width: 150px;
        }
        h3 {
            text-align: left;
            font-size: 1.3em;
            font-weight: 700;
            text-transform: none;
        }
        p.sponsor {
            font-style:italic;
        }
        p {
            line-height: 1.5em;
            font-size: 1.2em;
        }
    }
    .text-center {
        padding-bottom: 50px;
    }
    .btn-primary {
        text-align: center;
        margin: 10px auto;
    }
}