// Variables

$osoc-green: #229387;
$osoc-hue: #FFF;

// new colors

$color-green: #7ab800;
$color-red: #ff0000;
$color-blue: #00a5e0;
$color-dark-grey: #2D2D2D;

$color-white: #FFF;

/* =============================
* CLEARFIX
* ============================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* =============================
* STYLES
* ============================== */

html{
  font-family: 'Lato', sans-serif;
  background-color: #444;
}

a{
  color: $color-blue;
}

.constraint{
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;

  .oSoc-logo img{
      width: 60px;
      height: 60px;
  }
}

.big-participate{
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: $color-red;
  color: #FFF;
  padding: 25px;
  border-radius: 5px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.big-participate:hover{
  background-color: $color-dark-grey;
}

p.big{
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.partner-desc{
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: 15px;
}

.page{
  background-color: #FFF;

  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3{
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

h2{
  font-size: 2.5em;
}

.wh{
  color: #FFF;
}

.nav{
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  padding: 15px;
  min-height: 50px;
  font-weight: 600;
  img{
    float: left;
    margin-left: 55px;
  }
  ul{
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 75px;
    li{
      text-transform: uppercase;
      float: left;
      margin-right: 40px;
      list-style-type: none;
      a{
        text-decoration: none;
        color: $color-dark-grey;
      }
      a:hover{
        color: $color-blue;
      }
    }
  }
}

#big-video-wrap{
  position: relative !important;
}

.hero{
  margin-top: -60px;
  padding-top: 50px;
  padding-bottom: 15px;
  background: url('assets/hero2.png');
  background-size: cover;
  background-position: center;
  h1.hero-header{
    text-align: left;
    margin-top: 305px;
    margin-left: 55px;
    z-index: 999;
    color: #FFF;
    font-size: 3em;
      text-transform: uppercase;
    max-width: 600px;
  }
}

.video{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF;
  .videowrapper{
    position: relative;
    padding-bottom: 53.55%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .player .video-wrapper{
    background: #FFF !important;
  }

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.location{
  padding-bottom: 45px;
  background: url('assets/hero-location2.png');
  background-size: cover;
  min-height: 600px;
  .headline{
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -25px;
    padding-bottom: 25px;
  }
  h2{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .map{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .cities{
    top: -30px;
    color: #FFF;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*padding-bottom: 20px;*/
    .date, .city, .place{
      line-height: 0.7em;
    }
    .x{
      color: $color-dark-grey;
    }
    .y{
      color: $color-red;
    }
    .z{
      color: $color-blue;
    }
    .date{
      text-transform: uppercase;
      font-size: 1.1em;
      padding-bottom: 8px;
    }
    .city{
      font-size: 1.7em;
      font-weight: 600;
    }
    .place{
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }
}

p.hero-paragraph{
  font-weight: 300;
  color: #FFF;
  margin-left: 60px;
  margin-right: 40px;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.8em;
  margin-bottom: 45px;
}

.description{
  padding-top: 25px;
  margin-bottom: 40px;
  p{

  }
}

.numbers{
  .tagline{
	font-size: 1.4em;
	padding-top: 10px;
	padding-bottom: 25px;
  }
  .grid-25{
  	border-right: 1px solid #444;
  	img{
  	  width: 50%;
  	  max-width: 130px;
  	}
  	a{
  	}
  	margin-bottom: 25px;
  }
  .grid-25:last-of-type{
    border-right: none;
  }
  display: block;
  color: #FFF;
  text-align: center;
  background-color: #333;
  .number-container{
    background-color: $color-dark-grey;
    height: 135px;
    .number-item{
      width: 24.5%;
      float: left;
      border-right: 1px solid #555;
    }
    .number-item:last-of-type{
      border: none;
    }
  }
  .number{
    font-size: 3em;
    line-height: 0.2em;
    clear: both;
  }
  .word{
    font-size: 1.2em;
    position: relative;
    line-height: 0.5em;
    top: -15px;
    clear: both;
  }
}

.students{
  padding-bottom: 25px;
  h2{
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .students-gallery{
    .grid-25{
      margin-bottom: 35px;
      p{
        text-align: center;
      }
      .student-name{
        font-size: 1.3em;
        margin-bottom: 0px;
      }
      .student-twitter{
        font-size: 1.2em;
        padding-bottom: 10px;
        a{
          text-decoration: none;
          color: #AAAAAA;
        }
      }
      .student-linkedin{
        a{
           background-color: #23998d;
          padding: 5px;
          color: #FFF;
          font-size: 0.9em;
          text-decoration: none;
        }
      }
      img.round{
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 170px;
        height: 170px;
        border-radius: 340px;
      }
    }
  }
}

.studentsparticipate{
  h2{
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 0px;
  }
  color: #FFF;
  /*background: url('assets/hero-students.png');*/
  /*background-size: cover;*/
  background-color: $color-red;
  background-position: center;
  padding-bottom: 35px;
  .skill{
    top: -30px;
    color: #FFF;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .front{
    color: $color-green;
  }
  .back{
    color: $color-dark-grey;
  }
  .design{
    color: $color-blue;
  }
  .business{
    color: $color-green;
  }
  .skill-desc{
    top: -30px;
    color: #FFF;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .skill-container{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    .grid-25{
      border-right: 1px solid $color-white;
      padding: 15px;
      img{
        padding-left: 60px;
        width: 100px;
        height: 100px;
      }
    }
    .grid-25:last-of-type{
    border-right: none;
  }
  }
  #faqs{
    h3{
      cursor: pointer;
      .active{
        color:#d74646;
      }
    }
    div{
      height:0; 
      overflow:hidden; 
      position:relative;
      p{
        padding:0; 
        margin-bottom:15px;
      }
    }
  }
}

.partners{
  h2{
    color: #FFF;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  color: #FFF;
  background: url('assets/hero-sponsors.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 35px;
  .sponsor{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-height: 100px;
    margin-bottom: 25px;
  }
}

.contact-desc{
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 0;
  padding-top: 0;
}

.contact{
  h2{
    padding-top: 20px;
  }
  padding-bottom: 35px;  
}

.footer{
  background-color: #333;
  padding-bottom: 1px;
  p{
    font-size: 0.9em;
    padding-top: 5px;
    color: #FFF;
  }
  a{
    color: #BBB;
  }
}

.contact-buttons .grid-25{
  height: 100%;
  .contact-button{
    width: 75%;
  }
}

/* =============================
* MEDIA QUERIES
* ============================== */

/* Smartphones */
@media screen and (max-width: 480px){
  .grid-25{
    position: relative;
    top: 0px;
    margin-bottom: 35px;
  }
  .nav{
    position: relative !important;
    width: auto !important;
  }
  .location{
    margin-top: 0;
  }
  .oSoc-logo{
    display: inline-block;
    width: 100% !important;
    a{
      display: block;
      width: 63px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    img{
      display: block;
      text-align: center;
      margin-left: auto !important;
      margin-right: auto !important;
      padding-bottom: 15px !important;
    }
  }

  h1.hero-header{
    margin-top: 65px !important;
    font-size: 2em !important;
    max-width: 400px !important;
  }
  .hero-header, .hero-paragraph, .big-participate{
    margin-left: 15px !important;
  }
  .location{
    .grid-33{
      padding-bottom: 15px;
    }
    .date, .city, .place{
      margin: 15px !important;
      padding: 0 !important;
    }
    min-height: 700px;
  }
  .map{
    width: 95% !important;
    img{
      width: inherit;
    }
  }
}

.osoc-bold{
  font-weight: 700;
  text-transform: none;
}

.al-r{
  text-align: right;
}

a{
  p{
	color: #FFF;
	border-color: #FFF;
  }
}

/* Navigation fixes for width < 960 px */
@media screen and (max-width: 960px){
  .grid-25{
    position: relative;
    top: 0px;
    margin-bottom: 35px;
  }
  .map{
    max-width: 80% !important;
    img{
      width: 100% !important;
    }
  }
.nav{
  background-color: rgba(35, 153, 141, 1);
  height: auto;
  img{
    margin: 0;
    margin-top: 3px;
    display: block;
    text-align: center;
    clear: both;
  }
  ul{
    margin-left: 5px;
    top: -7px;
    float: none;
    margin-top: -3px;
    line-height: 3.0em;
    li{
      float: none;
      font-size: 0.9em;
      display: inline;
      margin: 0;
      margin-left: 5px;
      a{
        padding: 10px 10px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

}

/* Large tablet up until 960px (desktop res) */
@media screen and (min-width: 769px) and (max-width: 960px){

}

/* Desktop size (960px and up) */
@media screen and (min-width: 961px){

}

html{
  padding: 0 !important;
}

