@import url(normalize.css);
@import url(../vendor/fontawesome/css/font-awesome.css);
/* =============================
* CLEARFIX
* ============================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* =============================
* STYLES
* ============================== */

html {
    font-family: 'Lato', sans-serif;
    background-color: #2D2D2D;
    color: #2D2D2D;
}
.text-center {
    text-align: center;
}
body {
    overflow-x: hidden;
}
a {
    color: #00a5e0;
}
.constraint {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
h2 {
    font-size: 2.5em;
}
.wh {
    color: #FFF;
}
.tagline {
    font-size: 1.3em;
    line-height: 1.6em;
}
/* =============================
* NAVIGATION
* ============================== */

.nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    padding: 15px;
    min-height: 50px;
    font-weight: 600;
    border-bottom: 1px solid #adadad;
}
.nav img {
    float: left;
    width: 60px;
    height: 60px;
}
.nav ul {
    text-align: center;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 75px;
    list-style-type: none;
}
.nav ul li {
    text-transform: uppercase;
    float: left;
    margin-right: 30px;
}
.nav ul li a {
    text-decoration: none;
    color: #2D2D2D;
    transition: all 0.1s ease-in-out;
}
.nav ul li a:hover {
    color: #7ab800;
}
.nav ul li .active {
    color: #7ab800;
    transition: color 0.2s ease-in-out;
}
.nav ul li .osoc-bold {
    font-weight: 700;
    text-transform: none;
}
.nav .nav-toggle {
    display: none;
}
@media screen and (max-width: 768px) {
    .nav {
        position: relative !important;
        width: auto !important;
    }
    .nav .oSoc-logo {
        display: inline-block;
        width: 100% !important;
    }
    .nav .oSoc-logo img {
        display: block;
        text-align: center;
        margin-left: 0 !important;
        margin-right: auto !important;
        padding-bottom: 0px !important;
    }
    .nav .nav-toggle {
        margin-top: 8px;
        display: block;
    }
    .nav .nav-toggle:hover {
        cursor: pointer;
        cursor: hand;
    }
    .nav ul {
        display: none;
        float: none;
        width: 100%;
        margin: 0;
    }
    .nav ul li {
        float: none;
        display: block;
        background-color: #FFF;
        padding: 10px;
        margin: 0;
    }
}
/* =============================
* BUTTONS
* ============================== */

.btn-primary,
.big-participate {
    width: auto;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #7ab800;
    padding: 10px 15px;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.big-participate {
    display: block;
    background-color: $color-red;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
.big-participate:hover {
    background-color: #ff1a1a;
}
/* =============================
* HERO (INTRO) SECTION
* ============================== */

#hero {
    margin-top: -60px;
    padding-top: 50px;
    padding-bottom: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOo2sFQDwAElAGyy5g1dAAAAABJRU5ErkJggg==), url("assets/2016_4.jpg");
    background-size: cover;
    background-position: center;
}
#hero h1 {
    text-align: left;
    margin-top: 305px;
    z-index: 999;
    color: #FFF;
    font-size: 3em;
    text-transform: uppercase;
    max-width: 600px;
}
@media screen and (max-width: 768px) {
    #hero h1 {
        margin-top: 60px;
    }
}
#hero p {
    color: #FFF;
    margin-right: 50px;
    text-align: left;
    margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
    #hero p {
        margin-left: 0;
    }
}
@media screen and (max-width: 480px) {
    #hero h1 {
        margin-top: 65px !important;
        font-size: 2em !important;
        max-width: 400px !important;
    }
}
/* =============================
* PARTNERS SECTION
* ============================== */

#partners {
    color: #FFF;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOo2sFQDwAElAGyy5g1dAAAAABJRU5ErkJggg==), url("assets/2016_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#partners h2 {
    color: #FFF;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
}
#partners .partners-gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#partners .partners-gallery .sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-height: 100px;
    margin-bottom: 25px;
    opacity: 0.85;
    max-width: 200px;
}
#partners .partners-gallery .sponsor:hover {
    opacity: 1;
}
#partners .partner-desc a {
    color: #FFF;
}
/* =============================
* PROJECTS SECTION
* ============================== */

#projects {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;
}
#projects h2 {
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
}
#projects .projects-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#projects .project {
    width: 30%;
    margin: auto;
    padding: auto;
    text-align: center;
}
@media only screen and (max-device-width: 480px) {
     
    #projects .projects-showcase {
        flex-direction: column;
    }
    #projects .project {
        width: 90%;
    }  
    #projects .project:empty {
        display: none;
    }
}
#projects .project h3 {
    text-transform: none;
}
#projects .project-partners {
    margin: 5px;
}
#projects .partner {
    max-height: 40px;
    margin: 5px;
    opacity: 0.85;
    filter: invert(100%);
}
#projects .partner:hover {
    opacity: 1;
}
/* =============================
* VIDEO SECTION
* ============================== */

#video {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFF;
}
#video .videowrapper {
    position: relative;
    padding-bottom: 53.55%;
    /* 16:9 */
    
    padding-top: 25px;
    height: 0;
}
#video .player .video-wrapper {
    background: #FFF !important;
}
#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* =============================
* LOCATION SECTION
* ============================== */

#location {
    color: #FFF;
    padding-bottom: 45px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOo2sFQDwAElAGyy5g1dAAAAABJRU5ErkJggg==), url("assets/2016_3.jpg");
    background-size: cover;
    min-height: 600px;
}
@media screen and (max-width: 480px) {
    #location {
        min-height: 500px;
    }
}
#location h2 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 15px;
}
#location .tagline {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
}
#location .map {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
#location .map img {
    width: 100%;
}
#location .cities {
    top: -30px;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#location .cities .date,
#location .cities .city,
#location .cities .place {
    line-height: 0.7em;
}
#location .cities .date {
    text-transform: uppercase;
    font-size: 1.1em;
    padding-bottom: 0;
}
#location .cities .city {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 0;
}
#location .cities .city a {
    color: #00a5e0;
    text-decoration: underline;
}
#location .cities .city a:hover {
    text-decoration: underline;
}
#location .cities .place {
    font-size: 1em;
    font-weight: 400;
}
/* =============================
* PREVIOUS EDITIONS SECTION
* ============================== */

#prev-edition {
    display: block;
    color: #FFF;
    text-align: center;
    background-color: #2D2D2D;
}
#prev-edition .tagline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
}
#prev-edition .prev-logos {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
#prev-edition .prev-logos a {
    margin: 25px 20px;
}
#prev-edition .prev-logos a img {
    width: 110px;
}
#prev-edition .prev-logos a:last-of-type {
    margin-bottom: 35px;
}
/* =============================
* STUDENTS SECTION
* ============================== */

.students {
    padding-bottom: 25px;
}
.students h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}
#studentsparticipate {
    color: #2D2D2D;
    background-position: center;
    padding-bottom: 35px;
}
#studentsparticipate h2 {
    color: #2D2D2D;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#studentsparticipate .skill-gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}
#studentsparticipate .skill-gallery li {
    width: 33%;
}
@media screen and (max-width: 768px) {
    #studentsparticipate .skill-gallery li {
        width: 50%;
    }
}
@media screen and (max-width: 480px) {
    #studentsparticipate .skill-gallery li {
        width: 100%;
    }
}
#studentsparticipate .skill-gallery li .skill,
#studentsparticipate .skill-gallery li .skill-desc {
    color: #7ab800;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#studentsparticipate .skill-gallery li .skill {
    margin-top: 10px;
}
#studentsparticipate .skill-gallery li .skill-desc {
    margin-bottom: 0;
    color: #2D2D2D;
}
#studentsparticipate .skill-gallery li img {
    border-radius: 300px;
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.students-gallery {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}
.students-gallery li {
    width: 200px;
    padding: 15px;
    text-align: center;
}
.students-gallery li img {
    -webkit-transition: -webkit-filter .33s;
    transition: filter .33s, -webkit-filter .33s;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #ddd;
    -webkit-filter: contrast(2) grayscale(1) opacity(0.7) brightness(0.9);
    filter: contrast(2) grayscale(1) opacity(0.7) brightness(0.9);
}
.students-gallery li img:hover {
    -webkit-transition: -webkit-filter .3s;
    transition: filter .3s, -webkit-filter .3s;
    -webkit-filter: none;
    filter: none;
}
.students-gallery li .student-name {
    font-size: 1.3em;
    max-height: 20px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}
.students-gallery li .student-twitter,
.students-gallery li .student-linkedin {
    display: inline-block;
}
.students-gallery li .student-twitter a,
.students-gallery li .student-linkedin a {
    vertical-align: baseline;
    padding: 5px 10px;
    background-color: #7ab800;
    color: #FFF;
    font-size: 0.9em;
    text-decoration: none;
}
.students-gallery li .student-twitter a:hover,
.students-gallery li .student-linkedin a:hover {
    background-color: #70a900;
}
/* =============================
* FAQ SECTION
* ============================== */

#faq {
    padding-bottom: 1em;
}
#faq h2 {
    padding-top: 0;
}
#faq h3 {
    cursor: pointer;
    cursor: hand;
    margin-top: 0;
    padding: 0 0.8em;
    line-height: 1.5em;
}
#faq h3:first-of-type {
    margin-top: 1em;
}
#faq h3 .toggle-icon {
    margin-left: .5em;
    transition: all 0.4s;
    color: #535353;
}
#faq .faq-answer {
    padding: 0 1em 1.5em 1em;
    display: block;
    line-height: 2;
    color: #535353;
}
/* =============================
* FOOTER SECTION
* ============================== */

#mc_embed_signup {
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
    width: 100%;
}
#mc_embed_signup .form-control {
    border-radius: 0;
    background-color: #d6ff85;
    color: #2D2D2D;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1em 1.5em 1em 1.5em;
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#mc_embed_signup .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
#mc_embed_signup .form-group {
    margin-bottom: 0em;
}
#mc_embed_signup .btn {
    padding: 1em 1.5em;
    background-color: #81c200;
    border: none;
    border-radius: 0;
    color: #2D2D2D;
    font-weight: bold;
    letter-spacing: 2px;
    width: 29%;
}
#mc_embed_signup .btn:hover,
#mc_embed_signup .btn:active,
#mc_embed_signup .btn:focus {
    background-color: #7ab800;
    color: #2D2D2D;
    border: none;
    outline: none;
}
@media screen and (max-width: 480px) {
    #mc_embed_signup .btn,
    #mc_embed_signup .form-control {
        width: 100%;
    }
}
#mc_embed_signup .response {
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer,
.mailinglist {
    background-color: #2D2D2D;
}
.footer p,
.mailinglist p {
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
}
.footer a,
.mailinglist a {
    color: #e0e0e0;
}
/* =============================
* MEDIA QUERIES
* ============================== */
/*
.projects {
    background: #FFF !important;
}
.projects .project img {
    padding-left: 15px;
    padding-top: 25px;
    max-width: 150px;
}
.projects .project h3 {
    text-align: left;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: none;
}
.projects .project p.sponsor {
    font-style: italic;
}
.projects .project p {
    line-height: 1.5em;
    font-size: 1.2em;
}
.projects .text-center {
    padding-bottom: 50px;
}
.projects .btn-primary {
    text-align: center;
    margin: 10px auto;
}*/
/* Change placeholder text-color
   Do not group these rules 
*/

*::-webkit-input-placeholder {
    color: #606060;
}
*:-moz-placeholder {
    /* FF 4-18 */
    
    color: #606060;
}
*::-moz-placeholder {
    /* FF 19+ */
    
    color: #606060;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    
    color: #606060;
}
