.box-row,
.box-first,
.box-nested,
.box-large,
.box {
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: #44dba4;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: white;
}
.box-row {
  margin-bottom: 1rem;
}
.box-first {
  background: #0A0A38;
  border-color: #44dba4;
}
.box-nested {
  background: #ED4D48;
  border-color: #44dba4;
}
.box-large {
  height: 8rem;
}
.box-container {
  box-sizing: border-box;
  padding: 0.5rem;
}
.end {
  text-align: end;
}
@media only screen and (min-width: 48rem) {
  .box-row,
  .box-first,
  .box-nested,
  .box-large,
  .box {
    padding: 1rem 0.5rem;
  }
}

code{
  color:#007FFF
}

pre {
  overflow-x: auto;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-left-width: 1px;
  border-left-width: 5px;
  margin: 1.6rem 0;
  font-size: 1rem;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}

.page-section {
  margin-bottom: 5rem;
}

p {
  max-width: 30rem;
  margin-bottom: 3rem;
}
