// Color definitions
$color-green: #7ab800;
$color-red: #ff3333;
$color-blue: #00a5e0;
$color-dark-grey: #2D2D2D;
$color-light-grey: lighten($color-dark-grey, 15%);
$color-super-light-grey: lighten($color-dark-grey, 50%);
$color-white: #FFF;

// Background definitions
$intro-bg: url('assets/heroB.jpg');
$partner-bg: url('assets/hero-students2B.jpg');
$location-bg: url('assets/hero-location3B.jpg');