/* borders */

.border-red {
  border: 1px solid $red;
}

	.border-top-red {
	  border-top: 1px solid $red;
	}

	.border-right-red {
	  border-right: 1px solid $red;
	}

	.border-left-red {
	  border-left: 1px solid $red;
	}

	.border-bottom-red {
	  border-bottom: 1px solid $red;
	}

	.border-tb-red {
	  border-bottom: 1px solid $red;
	  border-top: 1px solid $red;
	}

.border-blue-dark {
  border: 1px solid $blue-dark;
}

	.border-top-blue-dark {
	  border-top: 1px solid $blue-dark;
	}

	.border-right-blue-dark {
	  border-right: 1px solid $blue-dark;
	}

	.border-left-blue-dark {
	  border-left: 1px solid $blue-dark;
	}

	.border-bottom-blue-dark {
	  border-bottom: 1px solid $blue-dark;
	}

	.border-tb-blue-dark {
	  border-bottom: 1px solid $blue-dark;
	  border-top: 1px solid $blue-dark;
	}

.border-green {
  border: 1px solid $green;
}

	.border-top-green {
	  border-top: 1px solid $green;
	}

	.border-right-green {
	  border-right: 1px solid $green;
	}

	.border-left-green {
	  border-left: 1px solid $green;
	}

	.border-bottom-green {
	  border-bottom: 1px solid $green;
	}

	.border-tb-green {
	  border-bottom: 1px solid $green;
	  border-top: 1px solid $green;
	}

.border-yellow {
  border: 1px solid $yellow;
}

	.border-top-yellow {
	  border-top: 1px solid $yellow;
	}

	.border-right-yellow {
	  border-right: 1px solid $yellow;
	}

	.border-left-yellow {
	  border-left: 1px solid $yellow;
	}

	.border-bottom-yellow {
	  border-bottom: 1px solid $yellow;
	}

	.border-tb-yellow {
	  border-bottom: 1px solid $yellow;
	  border-top: 1px solid $yellow;
	}

.border-light-gray {
  border: 1px solid $light-gray;
}

	.border-top-light-gray {
	  border-top: 1px solid $light-gray;
	}

	.border-right-light-gray {
	  border-right: 1px solid $light-gray;
	}

	.border-left-light-gray {
	  border-left: 1px solid $light-gray;
	}

	.border-bottom-light-gray {
	  border-bottom: 1px solid $light-gray;
	}

	.border-tb-light-gray {
	  border-bottom: 1px solid $light-gray;
	  border-top: 1px solid $light-gray;
	}

.border-medium-gray {
  border: 1px solid $medium-gray;
}

	.border-top-medium-gray {
	  border-top: 1px solid $medium-gray;
	}

	.border-right-medium-gray {
	  border-right: 1px solid $medium-gray;
	}

	.border-left-medium-gray {
	  border-left: 1px solid $medium-gray;
	}

	.border-bottom-medium-gray {
	  border-bottom: 1px solid $medium-gray;
	}

	.border-tb-medium-gray {
	  border-bottom: 1px solid $medium-gray;
	  border-top: 1px solid $medium-gray;
	}

.border-dark-gray {
  border: 1px solid $dark-gray;
}

	.border-top-dark-gray {
	  border-top: 1px solid $dark-gray;
	}

	.border-right-dark-gray {
	  border-right: 1px solid $dark-gray;
	}

	.border-left-dark-gray {
	  border-left: 1px solid $dark-gray;
	}

	.border-bottom-dark-gray {
	  border-bottom: 1px solid $dark-gray;
	}

	.border-tb-dark-gray {
	  border-bottom: 1px solid $dark-gray;
	  border-top: 1px solid $dark-gray;
	}

.border-black {
  border: 1px solid $black;
}

	.border-top-black {
	  border-top: 1px solid $black;
	}

	.border-right-black {
	  border-right: 1px solid $black;
	}

	.border-left-black {
	  border-left: 1px solid $black;
	}

	.border-bottom-black {
	  border-bottom: 1px solid $black;
	}

	.border-tb-black {
	  border-bottom: 1px solid $black;
	  border-top: 1px solid $black;
	}

