/* general */

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600 !important;
  overflow: visible;
  position: relative;
  text-decoration: none;

  + .button {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button__info {
  position: absolute;
  color: rgba($black, 0.7);
  left: 0;
  right: 0;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1;
  bottom: -1.4rem;
  font-weight: 500;

  @include breakpoint(large) {
    bottom: -1.1rem;
  }
}

/* alternate button stylings */

.success.button {
	background-color: $yellow !important;
	color: mix($yellow, $black, 20%) !important;

  &:hover {
    background-color: mix($yellow, $white, 75%) !important;
    color: mix(darken($yellow, 10%), $black, 40%) !important;
  }
}

.alert.button {
	background-color: $red !important;
	color: darken($red, 40%) !important;

  &:hover {
    background-color: mix($red, $white, 85%) !important;
    color: darken($red, 40%) !important;
  }
}

.dark.button {
	background-color: $blue-dark !important;
	color: mix($white, $blue-dark, 90%) !important;

  &:hover {
    background-color: mix($blue-dark, $white, 85%) !important;
    color: $white !important;
  }
}

.secondary.button {
  background-color: $white !important;
  border: 1px solid $medium-gray;

  &:hover {
    background-color: rgba($light-gray, 0.5) !important;
  }
}

.fancy.button {
  border: 1px solid $blue-dark;
  background-color: $white;
  color: $blue-dark;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  transition: all 200ms linear;

  &:before {
    content:"";
    display: block;
    position: absolute;
    background-color: lighten($green, 10%);
    left: -1px;
    top: 0;
    bottom: 0;
    transition: all 200ms linear;
  }

  &:hover {
    background-color: $green;
    color: $blue-dark;
    border-color: $green;

    &:before {
      left: 100%;
      right: 0;
    }
  }
}

.button.link {
  background-color: $white !important;
  color: $black !important;

  &:hover {
    background-color: rgba($light-gray, 0.5) !important;
  }

  &.lowercase {
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400 !important;
  }
}

.white.button {
  background-color: $white !important;

  &:hover {
    background-color: rgba($light-gray, 0.5) !important;
  }
}

/* button groups */

.button-group.space-small {
  .button {
    margin-right: 1rem;
  }
}
