.u-overflow-x-hidden {
    overflow-x: hidden;
}

/*
** Padding */

/* small */

.u-padding-small {
    padding: 0.5rem !important;
}

.u-padding-small--b {
    padding: 0 0 0.5rem 0 !important;
}

.u-padding-small--l {
    padding: 0 0 0 0.5rem !important;
}

.u-padding-small--r {
    padding: 0 0.5rem 0 0 !important;
}

.u-padding-small--t {
    padding: 0.5rem 0 0 0 !important;
}

.u-padding-small--rl {
    padding: 0 0.5rem !important;
}

.u-padding-small--tb {
    padding: 0.5rem 0 !important;
}

.u-padding-small--bl {
    padding: 0 0 0.5rem 0.5rem !important;
}

.u-padding-small--rb {
    padding: 0 0.5rem 0.5rem 0 !important;
}

.u-padding-small--tr {
    padding: 0.5rem 0.5rem 0 0 !important;
}

.u-padding-small--tl {
    padding: 0.5rem 0 0 0.5rem !important;
}

/*
    padding regular
*/

.u-padding {
    padding: 1rem !important;
}

.u-padding--b {
    padding: 0 0 1rem 0 !important;
}

.u-padding--l {
    padding: 0 0 0 1rem !important;
}

.u-padding--r {
    padding: 0 1rem 0 0 !important;
}

.u-padding--t {
    padding: 1rem 0 0 0 !important;
}

.u-padding--rl {
    padding: 0 1rem !important;
}

.u-padding--rl {
    padding: 0 1rem !important;
}

.u-padding--tb {
    padding: 1rem 0 !important;
}

.u-padding--bl {
    padding: 0 0 1rem 1rem !important;
}

.u-padding--rb {
    padding: 0 1rem 1rem 0 !important;
}

.u-padding--tr {
    padding: 1rem 1rem 0 0 !important;
}

.u-padding--tl {
    padding: 1rem 0 0 1rem !important;
}

/*
    padding medium
*/

.u-padding-medium {
    padding: 2rem !important;
}

.u-padding-medium--b {
    padding: 0 0 2rem 0 !important;
}

.u-padding-medium--l {
    padding: 0 0 0 2rem !important;
}

.u-padding-medium--r {
    padding: 0 2rem 0 0 !important;
}

.u-padding-medium--t {
    padding: 2rem 0 0 0 !important;
}

.u-padding-medium--rl {
    padding: 0 2rem !important;
}

.u-padding-medium--tb {
    padding: 2rem 0 !important;
}

.u-padding-medium-bl {
    padding: 0 0 2rem 2rem !important;
}

.u-padding-medium-rb {
    padding: 0 2rem 2rem 0 !important;
}

.u-padding-medium--tr {
    padding: 2rem 2rem 0 0 !important;
}

.u-padding-medium-tl {
    padding: 2rem 0 0 2rem !important;
}

.u-padding-medium--trl {
    padding: 2rem 2rem 0 2rem !important;
}

/*
    padding large
*/

.u-padding-large {
    padding: 3rem !important;
}

.u-padding-large--b {
    padding: 0 0 3rem 0 !important;
}

.u-padding-large--l {
    padding: 0 0 0 3rem !important;
}

.u-padding-large--r {
    padding: 0 3rem 0 0 !important;
}

.u-padding-large--t {
    padding: 3rem 0 0 0 !important;
}

.u-padding-large--rl {
    padding: 0 3rem !important;
}

.u-padding-large--tb {
    padding: 3rem 0 !important;
}

.u-padding-large-bl {
    padding: 0 0 3rem 3rem !important;
}

.u-padding-large-rb {
    padding: 0 3rem 3rem 0 !important;
}

.u-padding-large--tr {
    padding: 3rem 3rem 0 0 !important;
}

.u-padding-large-tl {
    padding: 3rem 0 0 3rem !important;
}

.u-padding-large--trl {
    padding: 3rem 3rem 0 3rem !important;
}

/*
    padding x-large
*/

.u-padding-x-large {
    padding: 4rem !important;
}

.u-padding-x-large--b {
    padding: 0 0 4rem 0 !important;
}

.u-padding-x-large--l {
    padding: 0 0 0 4rem !important;
}

.u-padding-x-large--r {
    padding: 0 4rem 0 0 !important;
}

.u-padding-x-large--t {
    padding: 4rem 0 0 0 !important;
}

.u-padding-x-large--rl {
    padding: 0 4rem !important;
}

.u-padding-x-large--tb {
    padding: 4rem 0 !important;
}

.u-padding-x-large-bl {
    padding: 0 0 4rem 4rem !important;
}

.u-padding-x-large-rb {
    padding: 0 4rem 4rem 0 !important;
}

.u-padding-x-large--tr {
    padding: 4rem 4rem 0 0 !important;
}

.u-padding-x-large-tl {
    padding: 4rem 0 0 4rem !important;
}

/*
** Margin */

/* small */

.u-margin-small {
    margin: 0.5rem !important;
}

.u-margin-small--b {
    margin: 0 0 0.5rem 0 !important;
}

.u-margin-small--l {
    margin-left: 0.5rem !important;
}

.u-margin-small--r {
    margin: 0 0.5rem 0 0 !important;
}

.u-margin-small--t {
    margin: 0.5rem 0 0 0 !important;
}

.u-margin-small--rl {
    margin: 0 0.5rem !important;
}

.u-margin-small--tb {
    margin: 0.5rem 0 !important;
}

.u-margin-small--bl {
    margin: 0 0 0.5rem 0.5rem !important;
}

.u-margin-small--rb {
    margin: 0 0.5rem 0.5rem 0 !important;
}

.u-margin-small--tr {
    margin: 0.5rem 0.5rem 0 0 !important;
}

.u-margin-small--tl {
    margin: 0.5rem 0 0 0.5rem !important;
}

/*
    margin regular
*/

.u-margin {
    margin: 1rem !important;
}

.u-margin--b {
    margin: 0 0 1rem 0 !important;
}

.u-margin--l {
    margin-left: 1rem !important;
}

.u-margin--r {
    margin: 0 1rem 0 0 !important;
}

.u-margin--t {
    margin: 1rem 0 0 0 !important;
}

.u-margin--rl {
    margin: 0 1rem !important;
}

.u-margin--tb {
    margin: 1rem 0 !important;
}

.u-margin--bl {
    margin: 0 0 1rem 1rem !important;
}

.u-margin--rb {
    margin: 0 1rem 1rem 0 !important;
}

.u-margin--tr {
    margin: 1rem 1rem 0 0 !important;
}

.u-margin--tl {
    margin: 1rem 0 0 1rem !important;
}

/*
    margin medium
*/

.u-margin-medium {
    margin: 2rem !important;
}

.u-margin-medium--b {
    margin: 0 0 2rem 0 !important;
}

.u-margin-medium--l {
    margin-left: 2rem !important;
}

.u-margin-medium--r {
    margin: 0 2rem 0 0 !important;
}

.u-margin-medium--t {
    margin: 2rem 0 0 0 !important;
}

.u-margin-medium--rl {
    margin: 0 2rem !important;
}

.u-margin-medium--tb {
    margin: 2rem 0 !important;
}

.u-margin-medium--bl {
    margin: 0 0 2rem 2rem !important;
}

.u-margin-medium--rb {
    margin: 0 2rem 2rem 0 !important;
}

.u-margin-medium--tr {
    margin: 2rem 2rem 0 0 !important;
}

.u-margin-medium--tl {
    margin: 2rem 0 0 2rem !important;
}

/*
    margin large
*/

.u-margin-large {
    margin: 3rem !important;
}

.u-margin-large--b {
    margin: 0 0 3rem 0 !important;
}

.u-margin-large--l {
    margin-left: 3rem !important;
}

.u-margin-large--r {
    margin: 0 3rem 0 0 !important;
}

.u-margin-large--t {
    margin: 3rem 0 0 0 !important;
}

.u-margin-large--rl {
    margin: 0 3rem !important;
}

.u-margin-large--tb {
    margin: 3rem 0 !important;
}

.u-margin-large--bl {
    margin: 0 0 3rem 3rem !important;
}

.u-margin-large--rb {
    margin: 0 3rem 3rem 0 !important;
}

.u-margin-large--tr {
    margin: 3rem 3rem 0 0 !important;
}

.u-margin-large--tl {
    margin: 3rem 0 0 3rem !important;
}

/*
    margin large
*/

.u-margin-x-large {
    margin: 4rem !important;
}

.u-margin-x-large--b {
    margin: 0 0 4rem 0 !important;
}

.u-margin-x-large--l {
    margin-left: 4rem !important;
}

.u-margin-x-large--r {
    margin: 0 4rem 0 0 !important;
}

.u-margin-x-large--t {
    margin: 4rem 0 0 0 !important;
}

.u-margin-x-large--rl {
    margin: 0 4rem !important;
}

.u-margin-x-large--tb {
    margin: 4rem 0 !important;
}

.u-margin-x-large--bl {
    margin: 0 0 4rem 4rem !important;
}

.u-margin-x-large--rb {
    margin: 0 4rem 4rem 0 !important;
}

.u-margin-x-large--tr {
    margin: 4rem 4rem 0 0 !important;
}

.u-margin-x-large--tl {
    margin: 4rem 0 0 4rem !important;
}

/* none */

.u-margin-none {
  margin: 0 !important;
}
