.osoc-float-element-o:after,
.osoc-float-element-s:after,
.osoc-float-element-o-small:after,
.osoc-float-element-c:after {
	content:"";
	display: inline-block;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	transform-style: preserve-3d;
}

	.osoc-float-element-o:after {
		background-image: url("../img/logo/logo-osoc-o.svg");
		background-size: 4rem;
		top: 8vh;
		left: 6vw;
		width: 4rem;
		height: 4rem;
		animation: move-o 4s infinite;

		@include breakpoint(medium) {
			background-size: 5rem;
			top: 10vh;
			left: 5vw;
			width: 5rem;
			height: 5rem;
		}
	}

	.osoc-float-element-s:after {
		background-image: url("../img/logo/logo-osoc-s.svg");
		background-size: contain;
		right: 5vw;
		top: 60vh;
		width: 5rem;
		height: 10rem;
		animation: move-s 10s infinite 8s ease-in;

		@include breakpoint(medium) {
			right: 2vw;
			top: -10rem;
			width: 10rem;
			height: 25rem;
		}

		@include breakpoint(large) {
			right: 2vw;
			top: 18vh;
			width: 20rem;
			height: 50rem;
		}
	}

	.osoc-float-element-o-small:after {
		background-image: url("../img/logo/logo-osoc-o-small.svg");
		background-size: 1rem;
		top: 2rem;
		left: 80vw;
		width: 1rem;
		height: 1rem;
		animation: move-o-small 6s infinite 5s ease-in-out;

		@include breakpoint(medium) {
			left: 20vw;
			top: 55vh;
		}
	}

	.osoc-float-element-c:after {
		background-image: url("../img/logo/logo-osoc-c.svg");
		background-size: 4rem;
		top: 45vh;
		left: 45vw;
		width: 4rem;
		height: 4rem;
		animation: move-c 8s infinite 3s;

		@include breakpoint(medium) {
			right: auto;
			left: 55vw;
			background-size: 5rem;
			width: 5rem;
			height: 5rem;
		}

		@include breakpoint(large) {
			left: 35vw;
		}
	}

/* animations */

@keyframes move-o {
	0% { transform: scale(1) };
	3% { transform: scale(1.2) };
	6% { transform: scale(1) };
	9% { transform: scale(1.2) };
	100% { transform: scale(1) };
}

@keyframes move-s {
	0% { transform: translate3d(0vh, 0, 0) rotate(0deg) };
	25% { transform: translate3d(2vh, 1vh, 0) rotate(2deg) };
	50% { transform: translate3d(0vh, 0, 0) rotate(0deg) };
	75% { transform: translate3d(2vh, 1vh, 0) rotate(2deg) };
	100% { transform: translate3d(0vh, 0, 0) rotate(0deg) };
}

@keyframes move-o-small {
	0% { transform: translate3d(0, 0, 0) };
	92% { transform: translate3d(0, 0, 0) };
	96% { transform: translate3d(3vh, 3vh, 0) };
	100% { transform: translate3d(0, 0, 0) };
}

@keyframes move-c {
	0% { transform: rotate(0deg) };
	25% { transform: rotate(90deg) };
	50% { transform: rotate(180deg) };
	75% { transform: rotate(270deg) };
	100% { transform: rotate(360deg) };
}
