/* shame */


.callout-container {
	position: relative;

	> :first-child {
		position: relative;
		z-index: 1;
	}
}

.callout-background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}


.u-overflow-hidden {
	overflow: hidden;
	display: block;
}
